/Tareas/Tarea1/target/
/Tareas/Segundoejercicio/target/
/Ejercicios en clase/SistemasDistribuidos2-24-main/tema0/CrudPersonas/build/
/Tareas/TresEnRaya/target/
/Tareas/JuegoTresEnRaya/target/
/Laboratorios/Laboratorio 1/Ejercicio1/target/
/Laboratorios/Laboratorio 1/Ejercicio8/target/
/Laboratorios/Laboratorio 1/Ejercicio5/build/
/Ejercicios en clase/SoquetTCP/target/
/Tareas/tareaTema3/nbproject/private/
/Tareas/tareaTema3/build/
/Ejercicios en clase/EjercicioEnClases2/nbproject/private/
/Ejercicios en clase/EjercicioEnClases2/build/
/Ejercicios en clase/tareaJuegoAhorcado/nbproject/private/
/Ejercicios en clase/tareaEnClase3/nbproject/private/
/Ejercicios en clase/tareaEnClase3/build/
/Laboratorios/Laboratorio_2/PagosRUAT/nbproject/private/
/Laboratorios/Laboratorio_2/PagosRUAT/build/
/Laboratorios/Laboratorio_2/pagosRUATv2/nbproject/private/
/Laboratorios/Laboratorio_2/pagosRUATv2/build/
/Laboratorios/Laboratorio_2/pagosRUATv3/nbproject/private/
/Laboratorios/Laboratorio_2/pagosRUATv3/build/
/Laboratorios/Laboratorio_2/pagosRUATgrupo/nbproject/private/
/Laboratorios/Laboratorio_2/pagosRUATgrupo/RuatEnClase/build/
/Laboratorios/Laboratorio_2/pagosRUATgrupo/RuatEnClase/nbproject/private/
/Laboratorios/Laboratorio_2/SingletonPattern/nbproject/private/
/Laboratorios/Laboratorio_2/main/nbproject/private/
/Laboratorios/Laboratorio_2/main/build/
