/Tareas/Tarea1/target/
/Tareas/Segundoejercicio/target/
/Ejercicios en clase/SistemasDistribuidos2-24-main/tema0/CrudPersonas/build/
/Tareas/TresEnRaya/target/
/Tareas/JuegoTresEnRaya/target/
/Laboratorios/Laboratorio 1/Ejercicio1/target/
/Laboratorios/Laboratorio 1/Ejercicio8/target/
/Laboratorios/Laboratorio 1/Ejercicio5/build/
/Ejercicios en clase/SoquetTCP/target/
/Tareas/tareaTema3/nbproject/private/
/Tareas/tareaTema3/build/
/Ejercicios en clase/EjercicioEnClases2/nbproject/private/
/Ejercicios en clase/EjercicioEnClases2/build/
